@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.main-ban{
  background: url(/main.jpg) 100% / cover no-repeat;
  height: 600px;
  border-radius: 5px;
}

.wrapp-text-banner{
  margin-top: 20px;
  margin-left: 20px;
}
.h1-banner{
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
}
.text-banner{
  font-size: 18px;
  /* line-height: 1.2; */
  font-weight: 400;
  color: #fff;
  margin-top: 10px;
  
}

.main-ban-mobile{
  background: url(/mobile.jpg) 100% / cover no-repeat;
  height: 350px;
  border-radius: 25px;
  position: relative;
  
}
.back-wrap{
  border-radius: 25px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
  
}
.wrapp-text-banner-mobile{
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 999;
}
.h1-banner-mobile{
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
}
.text-banner-mobile{
  font-size: 16px;
  /* line-height: 1.2; */
  font-weight: 400;
  color: #fff;
  margin-top: 10px;

}

.card-imag-border{
  border-top: 1px solid #e5e7eb;
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;

}